<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <span>Video Converter</span>
    <span class="example-spacer"></span>
    <mat-icon class="user-icon">person</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <a href="javascript:;" routerLink="/segment-video" routerLinkActive="active">Segment Video</a>
    <a href="javascript:;" routerLink="/video-compilation" routerLinkActive="active">Video Compilation</a>
  </mat-toolbar-row>
</mat-toolbar>